<html style="position: relative; min-height: 100%;">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    
</head>
<body>
	<th:block th:include="fragments/menu :: menu"></th:block>
	<div class="w3-container">
	  <h2>Lista firmelor</h2>
		<table  style="width: auto; border=2;" class="table table-striped table-condensed" >				
		
		 <thead>
			<tr class="table-primary">
				   <th>id</th>
				   <th>Firma</th>
				   <th>Oras</th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="f : ${Firme}">
					<td th:text="${f.id}" />
					<td th:text="${f.nume}" />
					<td th:text="${f.oras}" />
				</tr>	
			</tbody>
		</table>		
	</div>
    <th:block th:include="fragments/footer :: footer"></th:block>
  </body>
</html>