<html style="position: relative; min-height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <style>
        body {
            margin: 30px;
        }
    </style>
</head>
<body>
<th:block th:include="fragments/menu :: menu"></th:block>
<div class="w3-container">
    <h2>Show marks per subject</h2>

    <form  style="width: 550px;" method="post" th:action="@{/showMarksPerSubject}">
        <label>Please select subject:</label>
        <select class="form-control" name="subject">
            <option th:each="s: ${subjects}" th:value="${s.id}"
                    th:text="${s.getName()}">
            </option>
        </select>
        <br>
        <input type="submit" class="btn btn-outline-primary col-lg-12" value="Show marks"/>
    </form>

    <table th:if="${marks != null}" style="width: auto; border=2;"
           class="table table-striped table-condensed">

        <thead>
        <tr class="table-primary">
            <p style="font-weight: 500;">Marks at <span style="color: red" th:text="${subject.name}"></span></p>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mark : ${marks}">
            <td th:text="${mark.student.getFullName()}"/>
            <td th:text="${mark.value}"/>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>