<html style="position: relative; min-height: 100%;">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<style>
		body {
			margin: 30px;
		}
	</style>
</head>
<body>

	<th:block th:include="fragments/menu :: menu"></th:block>
<div class="w3-container">
  <h2>All the marks of the students on all the subjects</h2>
							<table  style="width: auto;" class="table table-hover table-bordered" >
							 <thead>
									<tr class="table-primary">
										<th:block th:each="tableHeader : ${tableHeaders}">
											<th th:text="${tableHeader}"></th>
										</th:block>
									</tr>
								</thead>
								<tbody>
									<tr th:each="key : ${tableMarks.keySet()}">
										<td th:text="${key.getFullName()}" />
										<th:block th:each="tableMark : ${tableMarks.get(key)}">
											<td th:text="${tableMark != null ? tableMark : '-'}"></td>
										</th:block>
									</tr>
								</tbody>
							</table>
</div>
		<th:block th:include="fragments/footer :: footer"></th:block>
	</body>
</html>